@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-Thin.ttf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-ExtraLight.ttf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-Light.ttf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-Regular.ttf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-Medium.ttf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-SemiBold.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-Bold.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-ExtraBold.ttf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-Black.ttf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

// Italic forms:

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-ThinItalic.ttf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-ExtraLightItalic.ttf') format('opentype');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-LightItalic.ttf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-Italic.ttf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-MediumItalic.ttf') format('opentype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-SemiBoldItalic.ttf') format('opentype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-BoldItalic.ttf') format('opentype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-ExtraBoldItalic.ttf') format('opentype');
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: 'Montserrat Alternates';
  src: url('/src/assets/fonts/MontserratAlternates-BlackItalic.ttf') format('opentype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Consola';
  src: url('/src/assets/fonts/CONSOLA.TTF') format('opentype');
}
